.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
}
.textContainer {
  width: 35%;
  margin: 0 auto 0 auto;
  padding: 32px;
  background: rgba(255, 133, 0, 1.0);
  border-radius: 20px;
}
.mainTitle {
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #3C096C;
  font-size: 50px;
  letter-spacing: 0em;
  text-transform: uppercase;
  line-height: 1.0;
  text-align: center;
  margin: 0;
}
.description {
  color: red;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #3C096C;
  opacity: 0.8;
  margin: 0;
  text-align: center;
}
.btn {
  display: block;
  padding: 10px 30px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #3C096C;
  color:rgb(255, 133, 0);
  transition: all 0.2s;
}
.btn:hover {
  background-color: #f7eeff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.formContainer {
  width: 40%;
  margin: 0 auto 0 auto;
  padding: 32px;
  background: rgba(127, 17, 224, 1);
  border-radius: 20px;
}
.input {
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 5px solid rgb(255, 133, 0);
  background-color: rgb(228, 228, 228);
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 17px;
}
.chatList {
  border-radius: 15px;
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 15px;
  margin-bottom: 0;
  border: 5px solid rgb(255, 133, 0);
  background-color: rgb(228, 228, 228);
}

.form_radio_btn {
	display: inline-block;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
  width: 100%;
	display: inline-block;
	cursor: pointer;
	line-height: 34px;
	border-bottom: 1px solid rgb(255, 133, 0);
	user-select: none;
  background-color: rgb(228, 228, 228);
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 17px;
}
.form_radio_btn label:hover {
  /* background-color: red; */
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3)
}
.form_radio_btn input[type=radio]:checked + label {
  background-color: rgba(127, 17, 224, 0.2);
  box-shadow: rgba(255, 133, 0, 0.55) 0px 50px 100px -10px, rgba(255, 133, 0, 0.1) 0px 30px 60px -10px, rgba(255, 133, 0, 0.65) 0px -2px 6px 0px inset;
}