.users {
  width: 100%;
  overflow: auto;
  max-height: 70vh;

  background-color: rgba(255, 105, 51, 1);

  font-family: 'Jost', sans-serif;
  color: rgba(41, 50, 65, 1);

  &::-webkit-scrollbar {
    display: none;
  }
}

.users__title {
  margin: 2px;
  font-size: 20px;

  list-style: none;
  font-weight: 400;
}

.users_list {
  text-align: start;
  margin: 0;
}

.online_list .user__name {
  color: greenyellow;
}

.offline_list .user__name {
  color: #444;
}

.user__name {
  list-style: none;
}
