.users {
    width: 25%;
    height: 90vh;

    overflow: auto;
    position: relative;
    background-color: rgba(255, 105, 51, 1);
    padding: 20px;
    border: 10px solid rgb(41, 50, 65);
    border-bottom: 5px solid rgb(41, 50, 65);
    border-right: 5px solid rgb(41, 50, 65);

    font-family: 'Jost', sans-serif;
    color: rgba(41, 50, 65, 1);
}

.users__title {
    margin: 0;
    font-size: 20px;
}

.users_list {
    margin: 0;
}

.user__name {

}